.advantages {
    min-height: unset;
    padding: 150px 0 115px;

    @include media-down(xl) {
        padding: 120px 0 70px;
    }

    @include media-down(lg) {
        padding: 100px 0 50px;
    }

    @include media-down(md) {
        padding: 50px 0 40px;
    }
    
    @include media-down(sm) {
        padding: 40px 0 20px;
    }

    &__header {
        margin-bottom: 60px;

        @include media-down(sm) {
            margin-bottom: 40px;
        }
    }

    &__text {
        @include text24;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.advantage {
    border: 2px solid $color-card;
    border-radius: 25px;
    background-color: #fff;
    width: calc((100% - 120px) / 4);
    padding: 40px 28px;
    min-height: 320px;

    @include media-down(xl) {
        width: calc((100% - 90px) / 4);
        padding: 40px 25px;
    }

    @include media-down(lg) {
        width: calc((100% - 60px) / 4);
        padding: 30px 18px;
    }

    @include media-down(md) {
        padding: 40px 28px;
        min-height: 250px;
        width: calc((100% - 30px) / 2);
        margin-bottom: 30px;
    }

    @include media-down(xs) {
        width: 100%;
        padding: 30px 20px;
        margin-right: 0 !important;
        min-height: 0;
        margin-bottom: 20px;
    }
    
    &:not(:last-child) {
        margin-right: 40px;

        @include media-down(xl) {
            margin-right: 30px;
        }

        @include media-down(lg) {
            margin-right: 20px;
        }

        @include media-down(md) {
            margin-right: 0;
        }
    }

    &:nth-child(odd) {
        @include media-down(md) {
            margin-right: 30px;
        }
    }

    &__title {
        margin-bottom: 24px;
    }
}