.language-switch {
    display: flex;
    margin-top: 9px;

    @include media-down(lg) {
        margin-top: 5px;
    }

    @include media-down(xs) {
        margin-top: 3px;
    }

    &__item {
        border-radius: 50%;

        &:not(:last-child){
            margin-right: 20px;

            @include media-down(sm) {
                margin-right: 10px;
            }
        }

        a {
            font-weight: 900;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .2s ease-out;

            @include media-down(sm) {
                font-size: 14px;
            }

            &:hover {
                color: $color-main;
            }
        }

        &--current {
            background: #fff;

            a {
                color: #000 !important;
                cursor: default;
            }
        }
    }
}