.page-header {
    width: 100%;
    min-height: 500px;
    background: #000;
    padding: 200px 0 90px;
    color: #fff;

    @include media-down(xl) {
        padding: 180px 0 70px;
        min-height: 420px;
    }

    @include media-down(md) {
        padding: 150px 0 50px;
    }

    @include media-down(sm) {
        min-height: 0;
        padding: 120px 0 40px;
    }

    &__title {
        line-height: 110%;
        max-width: 390px;
        margin-bottom: 20px;
        @include media-down(xl) {
            max-width: 100%;
        }
    }

    &__text {
        @include text24;
        line-height: 140%;
        color: #fff;
    }

    &__button {
        padding: 0 25px;
    }
}