.site-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    will-change: transform;
    transform: translateZ(0);
}

.show-dropdown-nav .site-backdrop {
    opacity: 1;
}
