html {
    box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.7;
    font-family: "Lato", Tahoma, sans-serif;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

picture {
    display: block;
}

input,
select,
textarea {
    //display: block;
    width: 100%;
    padding: 16px 20px;
    font-size: 25px;
    line-height: 1.5;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: all .2s ease-out;

    &:hover,
    &:focus {
        outline: none;
    }
}

select {
    cursor: pointer;
}

textarea {
    resize: none;
}

::placeholder {
    color: #050505;
}

button {
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
    line-height: 1.2;
    font-family: "Montserrat", Tahoma, sans-serif;
    color: $color-secondary;
}

h1,
.h1 {
    //margin: .83em 0;
    margin: .67em 0;
    //font-size: 2em;
    font-size: 70px;
}

h2,
.h2 {
    //margin: .83em 0;
    margin-top: 1.66em;
    margin-bottom: .83em;
    //font-size: 1.5em;
    font-size: 50px;
}

h3,
.h3 {
    //margin: 1em 0;
    margin-top: 1.2em;
    //margin-bottom: .6em;
    margin-bottom: .533333em; // 16px после правки
    //font-size: 1.17em;
    font-size: 30px;
}

h4,
.h4 {
    margin: 1.33em 0;
    //font-size: 1em;
    font-size: 25px;
}

h5,
.h5 {
    margin: 1.67em 0;
    //font-size: .83em;
    font-size: 20px;
}

h6,
.h6 {
    margin: 2.33em 0;
    //font-size: .67em;
    font-size: 15px;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &--wide {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    h1,
    .h1 {
        font-size: 50px;
        //font-size: 36px;
    }
}

@media screen and (max-width: 576px) {
    h2,
    .h2 {
        font-size: 36px;
    }

    .container {
        padding: 0 15px;
    }
}

.wow {
    visibility: hidden;
}
