body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 140%;
    font-family: $font-1;
    -webkit-font-smoothing: antialiased;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;

    &.overflow {
        height: auto;
        overflow: hidden;
    }
}

main {
	width: 100%;
	position: relative;
	display: flex;
    flex-direction: column;

    @include media-down(lg) {
        overflow: hidden;
    }
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 130%;
    font-family: $font-2;
    text-transform: uppercase;
    margin-bottom: 0;

    @include media-down(lg) {
        br {
            display: none;
        }
    }
}

h1 {
    font-size: 55px;

    @include media-down(xl) {
        font-size: 50px;
    }

    @include media-down(sm) {
        font-size: 36px;
    }
}

h2 {
    font-size: 45px;

    @include media-down(xl) {
        font-size: 36px;
    }

    @include media-down(sm) {
        font-size: 30px;
    }
}

h3 {
    font-size: 35px;

    @include media-down(xl) {
        font-size: 32px;
    }

    @include media-down(md) {
        font-size: 30px;
    }

    @include media-down(sm) {
        font-size: 24px;
    }
}

h4 {
    font-size: 30px;

    @include media-down(xl) {
        font-size: 28px;
    }

    @include media-down(lg) {
        font-size: 24px;
    }

    @include media-down(sm) {
        font-size: 22px;
    }
}

h5 {
    font-size: 25px;

    @include media-down(sm) {
        font-size: 20px;
    }
}

h6 {
    font-size: 20px;

    @include media-down(sm) {
        font-size: 18px;
    }
}

p {
    color: $color-text;
    line-height: 145%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 30px;

    @include media-down(sm) {
        padding: 0 20px;
    }

    &--wide {
        max-width: 1550px;
    }
}

.text-center {
    text-align: center;
}

.text24 {
    @include text24;
}

.wow {
    visibility: hidden;
}

input, textarea {
    width: 100%;
    background: none;
    border: 0;
    font-size: 20px;
    padding: 20px;
    transition: .2s ease;
    font-family: $font-1;

    @include media-down(xl) {
        font-size: 18px;
    }

    @include media-down(sm) {
        font-size: 16px;
    }
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}