@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min !=0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints)==null, "", "-#{$name}");
}

@mixin media-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin media-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin media-between($lower, $upper, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($lower, $breakpoints);
    $max: breakpoint-max($upper, $breakpoints);

    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin media-only($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    $max: breakpoint-max($name, $breakpoints);

    @if $min !=null and $max !=null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    }

    @else if $max==null {
        @include media-up($name)
    }

    @else if $min==null {
        @include media-down($name)
    }
}

@mixin sliderDefault {
    @include media-down(xl) {
        width: 941px;
    }

    @include media-down(lg) {
        width: 825px;
    }

    @include media-down(md) {
        width: 550px;
    }

    @include media-down(sm) {
        width: 430px;
    }

    @include media-down(xs) {
        width: 100%;
    }

    .swiper-wrapper {
        margin: 0 -20px;
        pointer-events: none;

        @include media-down(lg) {
            margin: 0 -15px;
        }
    }

    .swiper-slide {
        flex: 0 0 287px;
        min-width: 287px;
        margin: 0 20px;
        opacity: 0;
        visibility: hidden;

        @include media-down(lg) {
            flex: 0 0 255px;
            min-width: 255px;
            margin: 0 15px;
        }

        @include media-down(sm) {
            flex: 0 0 200px;
            min-width: 200px;
        }

        &-active, &-next {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        &-next + .swiper-slide {
            @include media-up(lg) {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }

            @include media-up(xxl) {
                & + .swiper-slide {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }
    }
}

@mixin text24 {
    font-size: 24px;
    line-height: 140%;
    color: $color-text;

    @include media-down(xl) {
        font-size: 20px;
    }

    @include media-down(sm) {
        font-size: 18px;
    }

    p {
        font-size: inherit;
        margin-bottom: 30px;

        @include media-down(xl) {
            margin-bottom: 20px;
        }

        @include media-down(sm) {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin buttonMargin {
    margin-top: 50px;

    @include media-down(xl) {
        margin-top: 40px;
    }

    @include media-down(sm) {
        margin-top: 30px;
    }
}