<%=_.template(require('../parts/main-header.html'))({
    title: "Путеводитель Узбекистан | Adras Travel",
    isWhite: true,
    menu: {blog: "current-menu-item"}
}) %>

<main class="site-main">
    <section class="page-header">
        <div class="container page-flex">
            <div class="page-flex__left">
                <div class="breadcrumbs">
                    <span><a href="#">Главная</a></span>
                    <span>/</span>
                    <span><a href="#">Путеводитель</a></span>
                    <span>/</span>
                    <span>Узбекистан</span>
                </div>
                <h1 class="page-header__title">Путеводитель</h1>
            </div>
            <div class="page-flex__right">
                <p class="page-header__text">
                    Перед поездкой в Центральную Азию рекомендуем узнать больше о жизни, культуре, кухне 
                    и традициях этих стран. Делимся опытом путешествий: организация поездки, лучшие места 
                    для посещений, проверенные маршруты, факты, география стран и многое другое.
                </p>
            </div>
        </div>
    </section><!-- /.page-header -->

    <section class="section section--sticky">
        <div class="container container--wide">
            <div class="page-flex">
                <div class="page-flex__aside page-aside">
                    <ul class="page-aside__blog">
                        <li class="current-menu-item">
                            <a href="#" class="page-aside__link">
                                <h5>ОБЩАЯ ИНФОРМАЦИЯ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li class="current-menu-item">
                                    <a href="#">Узбекистан с одного взгляда</a>
                                </li>
                                <li><a href="#">Климат Узбекистана</a></li>
                                <li><a href="#">Лучшее время для посещения</a></li>
                                <li><a href="#">Безопасность</a></li>
                                <li><a href="#">Алкоголь и табак</a></li>
                                <li><a href="#">Сотовая связь</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>ВЪЕЗД В СТРАНУ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>ФАКТЫ О СТРАНЕ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>ГЕОГРАФИЯ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>ДЕНЬГИ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>ГАСТРОНОМИЯ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>ИСТОРИЯ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>КУЛЬТУРА и традиции</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>ИЗВЕСТНЫЕ ЛИЧНОСТИ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>КАРТЫ</h5>
                                <svg width='18' height='18'>
                                    <use xlink:href='#icon-plus'></use>
                                </svg>
                            </a>
                            <ul class="page-aside__sublist">
                                <li><a href="#">Навигация 1</a></li>
                                <li><a href="#">Навигация 2</a></li>
                                <li><a href="#">Навигация 3</a></li>
                            </ul>
                        </li>
                    </ul>

                    <div class="page-aside__mobile">
                        <span>Развернуть</span>
                        <span>Свернуть</span>
                    </div>
                </div><!-- /.page-flex__aside -->

                <div class="page-flex__main page-main">
                    <div class="blog-header">
                        <ul class="blog-header__list">
                            <li class="current-menu-item">
                                <a href="#"><h5>УЗБЕКСИТАН</h5></a>
                            </li>
                            <li><a href="#"><h5>КЫРГЫЗСТАН</h5></a></li>
                            <li><a href="#"><h5>КАЗАХСТАН</h5></a></li>
                            <li><a href="#"><h5>ТАДЖИКИСТАН</h5></a></li>
                            <li><a href="#"><h5>ТУРКМЕНИСТАН</h5></a></li>
                        </ul>
                    </div><!-- /.blog-header -->

                    <div class="page-main__block">
                        <div class="page-main__left">
                            <h2 class="page-main__title">Узбекистан с одного взгляда</h2>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Общая площадь составляет 448 900 км², из которых 95% — суша. Эта страна такого 
                                    же размера как Германия и Австрия вместе взятые,или почти как штат Калифорния.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <picture class='page-main__img'>
                        <source srcset='img/base/blog-1@1x.webp 1x,
                                        img/base/blog-1@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/blog-1@1x.jpg'
                            srcset='img/base/blog-1@1x.jpg 1x,
                                    img/base/blog-1@2x.jpg 2x'
                            width='1049'
                            height='510'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>
                    
                    <div class="page-main__block">
                        <div class="page-main__left">
                            <picture class='page-main__img'>
                                <source srcset='img/base/blog-map@1x.webp 1x,
                                                img/base/blog-map@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/blog-map@1x.jpg'
                                    srcset='img/base/blog-map@1x.jpg 1x,
                                            img/base/blog-map@2x.jpg 2x'
                                    width='342'
                                    height='224'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Две трети территории страны составляют пустыни (пустыня Кызылкум и Каракум), степи 
                                    («Голодная степь») и горы (Гиссарский хребет Тянь-Шанских гор). Города Узбекистана, 
                                    вокруг которых сосредоточена жизнь, находятся в долинах двух крупных рек — Амударьи и Сырдарьи.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <div class="page-main__block">
                        <div class="blog-info">
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>ТАШКЕНТ</span>
                                    </div>
                                </div>
                                <div class="blog-info__text">столица</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        12 и автономная<br> Республика Каракалпакстан
                                    </div>
                                </div>
                                <div class="blog-info__text">область (вилоят)</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>448900</span> км<sup>2</sup>
                                    </div>
                                </div>
                                <div class="blog-info__text">территория</div>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <picture class='page-main__img'>
                        <source srcset='img/base/blog-2@1x.webp 1x,
                                        img/base/blog-2@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/blog-2@1x.jpg'
                            srcset='img/base/blog-2@1x.jpg 1x,
                                    img/base/blog-2@2x.jpg 2x'
                            width='1049'
                            height='510'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>

                    <div class="page-main__block">
                        <div class="page-main__left">
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Узбекистан имеет четыре анклава, отделённых от основной территории (все находятся в 
                                    Ферганской долине, окружены территорией Кыргызстана). На территории Узбекистана 
                                    находятся анклавы Таджикистана (Сарвак) и Кыргызстана (Барак).
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <div class="page-main__block">
                        <div class="blog-info">
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>4643</span> м<br> Хазрат Султан
                                    </div>
                                </div>
                                <div class="blog-info__text">самая высшая точка</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>12,8</span> м<br> впадина Мингбулак
                                    </div>
                                </div>
                                <div class="blog-info__text">самая низкая точка</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>33</span> млн<br> человек
                                    </div>
                                </div>
                                <div class="blog-info__text">население на 2019 г.</div>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <div class="page-main__block page-main__block--border">
                        <div class="page-main__left">
                            <h2 class="page-main__title">ГРАНИЦЫ</h2>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Узбекистан имеет четыре анклава, отделённых от основной территории (все находятся в 
                                    Ферганской долине, окружены территорией Кыргызстана). На территории Узбекистана 
                                    находятся анклавы Таджикистана (Сарвак) и Кыргызстана (Барак).
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <div class="page-main__block">
                        <div class="blog-info blog-info--five">
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>6221</span> км
                                    </div>
                                </div>
                                <div class="blog-info__text">общих границ</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>2203</span> км
                                    </div>
                                </div>
                                <div class="blog-info__text">с Казахстаном</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>1621</span> км
                                    </div>
                                </div>
                                <div class="blog-info__text">с Туркменистаном</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>1161</span> км
                                    </div>
                                </div>
                                <div class="blog-info__text">с Таджикистаном</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>1099</span> км
                                    </div>
                                </div>
                                <div class="blog-info__text">с Кыргызстаном</div>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <picture class='page-main__img'>
                        <source srcset='img/base/blog-3@1x.webp 1x,
                                        img/base/blog-3@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/blog-3@1x.jpg'
                            srcset='img/base/blog-3@1x.jpg 1x,
                                    img/base/blog-3@2x.jpg 2x'
                            width='1049'
                            height='510'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>

                    <div class="page-main__block">
                        <div class="page-main__left">
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    31 августа 1991 — дата установления независмости Республики от СССР. Форма правления в 
                                    стране — Президентская Республика. На 2020 год Президентом Узбекистана является Мирзиёев 
                                    Шавкат Миромонович. В стране действует двухпалатный парламент. Нижняя палата (Олий Мажлис) 
                                    и Верхний парламент (Сенат).
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <div class="page-main__block">
                        <div class="blog-info blog-info--five">
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>70</span> лет
                                    </div>
                                </div>
                                <div class="blog-info__text blog-info__text--small">
                                    средняя продолжительность жизни для мужчин
                                </div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>75</span> лет
                                    </div>
                                </div>
                                <div class="blog-info__text blog-info__text--small">
                                    средняя продолжительность жизни для женщин
                                </div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>6865 $</span>
                                    </div>
                                </div>
                                <div class="blog-info__text">ВВП на душу населения</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>9,3%</span>
                                    </div>
                                </div>
                                <div class="blog-info__text">уровень безработицы</div>
                            </div>
                            <div class="blog-info__item">
                                <div class="blog-info__header">
                                    <div class="blog-info__title">
                                        <span>9,7%</span>
                                    </div>
                                </div>
                                <div class="blog-info__text">уровень инфляции</div>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->
                </div><!-- /.page-flex__main -->
            </div>
        </div>
    </section><!-- / .section -->

    <section class="section section--bg--gray articles">
        <div class="articles__container container">
            <div class="articles__header page-flex">
                <div class="page-flex__left">
                    <h2>Узнайте больше о&nbsp;Центральной&nbsp;Азии</h2>
                </div>
                <div class="page-flex__right">
                    <p class="text24">
                        Каждую неделю мы пишем полезные и интересные статьи<br> о путешествиях, 
                        рассказываем о традициях и культуре народов стран Центральной Азии. 
                    </p>
                </div>
            </div><!-- /.articles__header -->

            <div class="articles__main">
                <div class="articles-slider js-slider" id="articles-slider-2">
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-8@1x.webp 1x,
                                                img/base/slider-8@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-8@1x.jpg'
                                    srcset='img/base/slider-8@1x.jpg 1x,
                                            img/base/slider-8@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Гастрономический блог</div>
                                <h3 class="articles-slide__title">Гастрономия Казахстана</h3>
                                <div class="articles-slide__text">Где попробовать традиционные блюда Казахской кухни.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-9@1x.webp 1x,
                                                img/base/slider-9@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-9@1x.jpg'
                                    srcset='img/base/slider-9@1x.jpg 1x,
                                            img/base/slider-9@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Город из белого мрамора</h3>
                                <div class="articles-slide__text">Посмотрите на самый беломраморный город в мире</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-10@1x.webp 1x,
                                                img/base/slider-10@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-10@1x.jpg'
                                    srcset='img/base/slider-10@1x.jpg 1x,
                                            img/base/slider-10@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">10 мест в&nbsp;узбекистане</h3>
                                <div class="articles-slide__text">Что посмотреть в Узбекистане за&nbsp;5&nbsp;дней, неделю, месяц.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-11@1x.webp 1x,
                                                img/base/slider-11@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-11@1x.jpg'
                                    srcset='img/base/slider-11@1x.jpg 1x,
                                            img/base/slider-11@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Лучшие места для съемок</h3>
                                <div class="articles-slide__text">Топ-10 мест для красивых селфи и&nbsp;панорамных фотографий.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-4@1x.webp 1x,
                                                img/base/slider-4@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-4@1x.jpg'
                                    srcset='img/base/slider-4@1x.jpg 1x,
                                            img/base/slider-4@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Великий шелковый путь</h3>
                                <div class="articles-slide__text">Караванная дорога из Китая в&nbsp;страны Азии длиной в 7000 км.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                </div><!-- /.articles-slider -->
                
                <a href="#" class="button articles__button" title="Больше статей">Больше статей</a>
            </div><!-- /.articles__main -->
        </div>
    </section><!-- / .articles -->

</main><!-- / .site-main -->

<%=_.template(require('../parts/main-form.html'))({
    isGray: false
}) %>

<%=_.template(require('../parts/main-footer.html'))() %>