<%=_.template(require('../parts/main-header.html'))({
    title: "Путеводитель Центральная Азия | Adras Travel",
    isWhite: true,
    menu: {blog: "current-menu-item"}
}) %>

<main class="site-main">
    <section class="page-header">
        <div class="container page-flex">
            <div class="page-flex__left">
                <div class="breadcrumbs">
                    <span><a href="#">Главная</a></span>
                    <span>/</span>
                    <span><a href="#">Путеводитель</a></span>
                    <span>/</span>
                    <span>Центральная Азия</span>
                </div>
                <h1 class="page-header__title">Путеводитель</h1>
            </div>
            <div class="page-flex__right">
                <p class="page-header__text">
                    Перед поездкой в Центральную Азию рекомендуем узнать больше о жизни, культуре, кухне 
                    и традициях этих стран. Делимся опытом путешествий: организация поездки, лучшие места 
                    для посещений, проверенные маршруты, факты, география стран и многое другое.
                </p>
            </div>
        </div>
    </section><!-- /.page-header -->

    <section class="section">
        <div class="container container--wide">
            <div class="page-flex page-flex--center">
                <div class="page-flex__main page-main">
                    <div class="blog-header">
                        <ul class="blog-header__list">
                            <li><a href="#"><h5>УЗБЕКСИТАН</h5></a></li>
                            <li><a href="#"><h5>КЫРГЫЗСТАН</h5></a></li>
                            <li><a href="#"><h5>КАЗАХСТАН</h5></a></li>
                            <li><a href="#"><h5>ТАДЖИКИСТАН</h5></a></li>
                            <li><a href="#"><h5>ТУРКМЕНИСТАН</h5></a></li>
                        </ul>
                    </div><!-- /.blog-header -->

                    <div class="page-main__block">
                        <div class="page-main__left">
                            <h2 class="page-main__title">НЕВЕРОЯТНЫЙ МИР ЦЕНТРАЛЬНОЙ АЗИИ</h2>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Термин Средняя Азия сложился в дореволюционный период для Русского Туркестана. 
                                    Позже на этой территории образовались четыре государства: Узбекистан, Таджикистан, 
                                    Кыргызстан и Туркменистан.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <picture class='page-main__img'>
                        <source srcset='img/base/blog-4@1x.webp 1x,
                                        img/base/blog-4@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/blog-4@1x.jpg'
                            srcset='img/base/blog-4@1x.jpg 1x,
                                    img/base/blog-4@2x.jpg 2x'
                            width='1049'
                            height='510'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>
                    
                    <div class="page-main__block">
                        <div class="page-main__left">
                            <div class="page-main__info">
                                <p>
                                    Центром старого города является площадь <a href="#"><b>Ляби&#8209;Хауз</b></a>, вокруг которой 
                                    расположено большое количество гостиниц, хостелов и ресторанов. 
                                </p>
                                <p>
                                    Эта часть города в вечернее время является излюбленным местом жителей Бухары, 
                                    которые проводят время в семейном кругу или в компании друзей. Большое количество 
                                    сувенирных магазинов открыты здесь до поздней ночи.
                                </p>
                            </div>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Пять стран входят в состав Центральной Азии: Казахстан, Узбекистан, Таджикистан, Кыргызстан и 
                                    Туркменистан. Не имеют выхода к океану. Все эти страны объединяет их историческое прошлое. 
                                </p>
                                <p>
                                    Также все эти пять стран входили в состав Советского Союза и в 1991 году стали независимыми 
                                    государствами. Каждая страна отличается своими особенностями, традициями, ландшафтом, но в 
                                    чем-то есть и схожесть, в зависимости от того какую страну с какой именно сравнивать.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <picture class='page-main__img'>
                        <source srcset='img/base/blog-5@1x.webp 1x,
                                        img/base/blog-5@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/blog-5@1x.jpg'
                            srcset='img/base/blog-5@1x.jpg 1x,
                                    img/base/blog-5@2x.jpg 2x'
                            width='1049'
                            height='510'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>
                    
                    <div class="page-main__block">
                        <div class="page-main__left">
                            <div class="page-main__info">
                                <p>
                                    Центром старого города является площадь <a href="#"><b>Ляби&#8209;Хауз</b></a>, вокруг которой 
                                    расположено большое количество гостиниц, хостелов и ресторанов. 
                                </p>
                                <p>
                                    Эта часть города в вечернее время является излюбленным местом жителей Бухары, 
                                    которые проводят время в семейном кругу или в компании друзей. Большое количество 
                                    сувенирных магазинов открыты здесь до поздней ночи.
                                </p>
                            </div>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Основная часть населения Центральной Азии — представители тюркоязычных наций (узбеки, туркмены, 
                                    киргизы, казахи, уйгуры и каракалпаки) и языки этих наций входят в тюркскую группу языков и 
                                    схожи между собой. Таджики же представители иранских народов. 
                                </p>
                                <p>
                                    Таджикский язык близок к персидскому. В советский период сюда иммигрировали или были сосланы и 
                                    другие национальности. Поэтому на сегодняшний день очень много этнических групп проживают на 
                                    территории Центральной Азии. Самые многочисленные из них: русские, корейцы, татары, немцы, 
                                    армяне, азербайджанцы и другие.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->
                </div><!-- /.page-flex__main -->
            </div>
        </div>
    </section><!-- / .section -->

    <section class="section section--bg--gray articles">
        <div class="articles__container container">
            <div class="articles__header page-flex">
                <div class="page-flex__left">
                    <h2>Узнайте больше о&nbsp;Центральной&nbsp;Азии</h2>
                </div>
                <div class="page-flex__right">
                    <p class="text24">
                        Каждую неделю мы пишем полезные и интересные статьи<br> о путешествиях, 
                        рассказываем о традициях и культуре народов стран Центральной Азии. 
                    </p>
                </div>
            </div><!-- /.articles__header -->

            <div class="articles__main">
                <div class="articles-slider js-slider" id="articles-slider-2">
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-8@1x.webp 1x,
                                                img/base/slider-8@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-8@1x.jpg'
                                    srcset='img/base/slider-8@1x.jpg 1x,
                                            img/base/slider-8@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Гастрономический блог</div>
                                <h3 class="articles-slide__title">Гастрономия Казахстана</h3>
                                <div class="articles-slide__text">Где попробовать традиционные блюда Казахской кухни.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-9@1x.webp 1x,
                                                img/base/slider-9@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-9@1x.jpg'
                                    srcset='img/base/slider-9@1x.jpg 1x,
                                            img/base/slider-9@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Город из белого мрамора</h3>
                                <div class="articles-slide__text">Посмотрите на самый беломраморный город в мире</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-10@1x.webp 1x,
                                                img/base/slider-10@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-10@1x.jpg'
                                    srcset='img/base/slider-10@1x.jpg 1x,
                                            img/base/slider-10@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">10 мест в&nbsp;узбекистане</h3>
                                <div class="articles-slide__text">Что посмотреть в Узбекистане за&nbsp;5&nbsp;дней, неделю, месяц.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-11@1x.webp 1x,
                                                img/base/slider-11@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-11@1x.jpg'
                                    srcset='img/base/slider-11@1x.jpg 1x,
                                            img/base/slider-11@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Лучшие места для съемок</h3>
                                <div class="articles-slide__text">Топ-10 мест для красивых селфи и&nbsp;панорамных фотографий.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-4@1x.webp 1x,
                                                img/base/slider-4@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-4@1x.jpg'
                                    srcset='img/base/slider-4@1x.jpg 1x,
                                            img/base/slider-4@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Великий шелковый путь</h3>
                                <div class="articles-slide__text">Караванная дорога из Китая в&nbsp;страны Азии длиной в 7000 км.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                </div><!-- /.articles-slider -->
                
                <a href="#" class="button articles__button" title="Больше статей">Больше статей</a>
            </div><!-- /.articles__main -->
        </div>
    </section><!-- / .articles -->

</main><!-- / .site-main -->

<%=_.template(require('../parts/main-form.html'))({
    isGray: false
}) %>

<%=_.template(require('../parts/main-footer.html'))() %>