<%=_.template(require('../parts/main-header.html'))({
    title: "Бухара | Adras Travel",
    isWhite: true,
    menu: {countries: "current-menu-item"}
}) %>

<main class="site-main">
    <section class="page-header">
        <div class="container page-flex">
            <div class="page-flex__left">
                <div class="breadcrumbs">
                    <span><a href="#">Страны</a></span>
                    <span>/</span>
                    <span><a href="#">Узбекистан</a></span>
                    <span>/</span>
                    <span>Бухара</span>
                </div>
                <h1 class="page-header__title">Бухара</h1>
                <a href="#" class="button button--opacity page-header__button" title="Туры">
                    Туры
                    <svg width="16" height="16">
                        <use xlink:href="#icon-arrow-button"></use>
                    </svg>
                </a>
            </div>
            <div class="page-flex__right">
                <p class="page-header__text">
                    Один из древнейших городов Центральной Азии, административный центр Бухарской области 
                    Узбекистана. Настоящий архитектурный и историческо-культурный заповедник, сохранивший 
                    уникальные памятники зодчества всех исторических эпох, начиная с IX века.
                </p>
            </div>
        </div>
    </section><!-- /.page-header -->

    <section class="section section--sticky">
        <div class="container container--wide">
            <div class="page-flex">
                <div class="page-flex__aside page-aside">
                    <ul class="page-aside__list">
                        <li class="current-menu-item">
                            <a href="#" class="page-aside__link">
                                <h5>Бухара</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Ташкент</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Самарканд</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Хива</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Анджиан</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <div class="page-aside__mobile">
                        <span>Развернуть</span>
                        <span>Свернуть</span>
                    </div>
                </div><!-- /.page-flex__aside -->

                <div class="page-flex__main page-main">
                    <div class="page-main__block">
                        <div class="page-main__left">
                            <h2 class="page-main__title">О городе</h2>
                            <div class="page-main__info">
                                <h6>Авиасообщение</h6>
                                <p>
                                    в Бухаре есть международный аэропорт, находящийся на территории города, однако 
                                    международные рейсы летают только в города Российской Федерации. Этот же аэропорт 
                                    используется для рейсов внутри страны.
                                </p>
                                <h6>Железнодорожное сообщение</h6>
                                <p>
                                    в Бухаре есть международный аэропорт, находящийся на территории города, однако 
                                    международные рейсы летают только в города Российской Федерации. Этот же аэропорт 
                                    используется для рейсов внутри страны.
                                </p>
                            </div>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Бухара — единственный город Средней Азии, чья пред- и раннеисламская история была 
                                    подробно описана в известном труде Наршахи. Священная Бухара – именно так почтительно 
                                    называют узбеки этот славный город. Древнее поверье гласит: на все мусульманские города 
                                    с неба нисходит благодатный свет, и только над Бухарой он поднимается к небу.
                                </p>
                                <p>
                                    Благодаря важности города, здесь возводились монументальные памятники архитектуры. 
                                    В этом городе сохранилось около 140 архитектурных памятников, большая часть которых 
                                    относится к 16 веку. Но также сохранились более ранние и более поздние сооружения.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <picture class='page-main__img'>
                        <source srcset='img/base/buhara-1@1x.webp 1x,
                                        img/base/buhara-1@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/buhara-1@1x.jpg'
                            srcset='img/base/buhara-1@1x.jpg 1x,
                                    img/base/buhara-1@2x.jpg 2x'
                            width='1049'
                            height='510'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>
                    
                    <div class="page-main__block">
                        <div class="page-main__left">
                            <picture class='page-main__img'>
                                <source srcset='img/base/buhara-map@1x.webp 1x,
                                                img/base/buhara-map@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/buhara-map@1x.jpg'
                                    srcset='img/base/buhara-map@1x.jpg 1x,
                                            img/base/buhara-map@2x.jpg 2x'
                                    width='342'
                                    height='224'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Священная Бухара – именно так почтительно называют узбеки этот славный город. 
                                    Древнее поверье гласит: на все мусульманские города с неба нисходит благодатный свет, 
                                    и только над Бухарой он поднимается к небу. Здесь сосредоточено небывалое количество 
                                    мечетей, а также находятся усыпальницы многих исламских святых.
                                </p>
                                <p>
                                    Древнее поверье гласит: на все мусульманские города с неба нисходит благодатный 
                                    свет, и только над Бухарой он поднимается к небу. Город не зря зовется «опорой ислама». 
                                    Здесь сосредоточено небывалое количество мечетей, а также находятся усыпальницы многих 
                                    исламских святых.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <picture class='page-main__img'>
                        <source srcset='img/base/buhara-2@1x.webp 1x,
                                        img/base/buhara-2@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/buhara-2@1x.jpg'
                            srcset='img/base/buhara-2@1x.jpg 1x,
                                    img/base/buhara-2@2x.jpg 2x'
                            width='1049'
                            height='510'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>

                    <div class="page-main__block">
                        <div class="page-main__left">
                            <div class="page-main__info">
                                <p>
                                    Центром старого города является площадь <a href="#"><b>Ляби&#8209;Хауз</b></a>, вокруг которой 
                                    расположено большое количество гостиниц, хостелов и ресторанов. 
                                </p>
                                <p>
                                    Эта часть города в вечернее время является излюбленным местом жителей Бухары, 
                                    которые проводят время в семейном кругу или в компании друзей. Большое количество 
                                    сувенирных магазинов открыты здесь до поздней ночи.
                                </p>
                            </div>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Бухара — единственный город Средней Азии, чья пред- и раннеисламская история была 
                                    подробно описана в известном труде Наршахи. Священная Бухара – именно так почтительно 
                                    называют узбеки этот славный город. Древнее поверье гласит: на все мусульманские города 
                                    с неба нисходит благодатный свет, и только над Бухарой он поднимается к небу.
                                </p>
                                <br>
                                <p>
                                    Благодаря важности города, здесь возводились монументальные памятники архитектуры. 
                                    В этом городе сохранилось около 140 архитектурных памятников, большая часть которых 
                                    относится к 16 веку. Но также сохранились более ранние и более поздние сооружения.
                                </p>
                            </div>
                        </div>
                    </div><!-- /.page-main__block -->

                    <div class="page-main__block page-main__block--border">
                        <div class="page-main__left">
                            <h2 class="page-main__title">Архитектурные памятники</h2>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Историческая часть города довольна мала. Многие памятники архитектуры были 
                                    разрушены при последнем сильном землетрясении в 1966 году. Ташкент очень 
                                    зеленый город, с деревьями и парками на каждом шагу.
                                </p>
                            </div>
                        </div>

                        <div class="city-slider js-slider" id="city-slider-1" data-scrollBar="slider-scrollbar">
                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-1.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-1.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Комплекс<br> Хаст-Имам</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>
                            
                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-2.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-2.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мавзолей Абу Бакра Каффаля аш-Шаши</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-3.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-3.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Медресе Барак-хана</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-4.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-4.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мечеть Намазгох</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-5.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-5.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мечеть Тилля Шейх</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-1.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-1.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Комплекс<br> Хаст-Имам</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>
                            
                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-2.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-2.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мавзолей Абу Бакра Каффаля аш-Шаши</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-3.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-3.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Медресе Барак-хана</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-4.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-4.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мечеть Намазгох</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/monument-5.webp'
                                                type='image/webp'>
                                        <img src='img/base/monument-5.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мечеть Тилля Шейх</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>
                                    
                            <div class="city-slider__scrollbar slider-scrollbar"></div>
                        </div><!-- /.city-slider -->
                    </div><!-- /.page-main__block -->

                    <div class="page-main__block page-main__block--border">
                        <div class="page-main__left">
                            <h2 class="page-main__title">Интересные личности</h2>
                        </div>
                        <div class="page-main__right">
                            <div class="page-main__text">
                                <p>
                                    Большинство памятников в городе связаны с деятельностью великих творцов, 
                                    политиков, знаменитых личностей — познакомьтесь с культурой через известных людей.
                                </p>
                            </div>
                        </div>

                        <div class="city-slider js-slider" id="city-slider-2" data-scrollBar="slider-scrollbar">
                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-1.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-1.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мирзо<br> Улугбек</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>
                            
                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-2.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-2.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Садриддин Айни</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-3.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-3.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Джелал Ад&#8209;Дин Мангуберди</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-4.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-4.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Захириддин Мухаммад Бабур</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-5.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-5.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Алишер&#8209;Навои</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-1.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-1.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Мирзо<br> Улугбек</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>
                            
                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-2.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-2.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Садриддин Айни</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-3.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-3.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Джелал Ад&#8209;Дин Мангуберди</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-4.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-4.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Захириддин Мухаммад Бабур</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="swiper-slide city-slider__slide city-slide">
                                <a href="#" class="city-slide__card">
                                    <picture class='city-slide__bg'>
                                        <source srcset='img/base/person-5.webp'
                                                type='image/webp'>
                                        <img src='img/base/person-5.jpg'
                                            width='178'
                                            height='244'
                                            alt='Adras Travel'
                                            title='Adras Travel'>
                                    </picture>
                                    <div class="city-slide__content">
                                        <h3 class="city-slide__title">Алишер&#8209;Навои</h3>
                                    </div>
                                </a>
                                <a href="#" class="button button--opacity city-slide__button">
                                    Читать
                                    <svg width="16" height="16">
                                        <use xlink:href="#icon-arrow-button"></use>
                                    </svg>
                                </a>
                            </div>
                                    
                            <div class="city-slider__scrollbar slider-scrollbar"></div>
                        </div><!-- /.city-slider -->
                    </div><!-- /.page-main__block -->
                </div><!-- /.page-flex__main -->
            </div>
        </div>
    </section><!-- / .section -->

    <section class="info-cards info-cards--bg--gray">
        <div class="container info-cards__container">
            <div class="info-cards__list">
                <div class="info-cards__item info-card info-card--bg">
                    <div class="info-card__bg">
                        <picture class='info-card__bg'>
                            <source srcset='img/base/buhara-info-card.webp'
                                    type='image/webp'>
                            <img src='img/base/buhara-info-card.jpg'
                                width='344'
                                height='382'
                                alt='Adras Travel'
                                title='Adras Travel'>
                        </picture>
                    </div>
                    <div class="info-card__content">
                        <h2 class="info-card__title">Бухара<br> для туристов</h2>
                    </div>
                </div>
                <div class="info-cards__item info-card">
                    <div class="info-card__content">
                        <h4 class="info-card__title">Туры</h4>
                        <p class="info-card__text">
                            У нас много интересных туров — подберем лучший вариант для вас.
                        </p>
                    </div>
                    <a href="#" class="button button--shadow info-card__button">Смотреть</a>
                </div>
                <div class="info-cards__item info-card">
                    <div class="info-card__content">
                        <h4 class="info-card__title">Гостиницы</h4>
                        <p class="info-card__text">
                            Предлагаем комфортное жилье на любой вкус.
                        </p>
                    </div>
                    <a href="#" class="button button--shadow info-card__button">Смотреть</a>
                </div>
                <div class="info-cards__item info-card">
                    <div class="info-card__content">
                        <h4 class="info-card__title">Рестораны</h4>
                        <p class="info-card__text">
                            Списки лучших ресторанов и кафе с национальной кухней.
                        </p>
                    </div>
                    <a href="#" class="button button--shadow info-card__button">Смотреть</a>
                </div>
            </div>
        </div>
    </section>
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-form.html'))({
    isGray: false
}) %>

<%=_.template(require('../parts/main-footer.html'))() %>