<%=_.template(require('../parts/main-header.html'))({
    title: "Туры в Бухару | Adras Travel",
    isWhite: true,
    menu: {countries: "current-menu-item"}
}) %>

<main class="site-main">
    <section class="page-header">
        <div class="container page-flex">
            <div class="page-flex__left">
                <div class="breadcrumbs">
                    <span><a href="#">Страны</a></span>
                    <span>/</span>
                    <span><a href="#">Узбекистан</a></span>
                    <span>/</span>
                    <span>Бухара</span>
                </div>
                <h1 class="page-header__title">Бухара</h1>
                <a href="#" class="button button--opacity page-header__button" title="Туры">
                    Туры
                    <svg width="16" height="16">
                        <use xlink:href="#icon-arrow-button"></use>
                    </svg>
                </a>
            </div>
            <div class="page-flex__right">
                <p class="page-header__text">
                    Один из древнейших городов Центральной Азии, административный центр Бухарской области 
                    Узбекистана. Настоящий архитектурный и историческо-культурный заповедник, сохранивший 
                    уникальные памятники зодчества всех исторических эпох, начиная с IX века.
                </p>
            </div>
        </div>
    </section><!-- /.page-header -->

    <section class="section section--sticky">
        <div class="container container--wide">
            <div class="page-flex">
                <div class="page-flex__aside page-aside">
                    <ul class="page-aside__list">
                        <li class="current-menu-item">
                            <a href="#" class="page-aside__link">
                                <h5>Бухара</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Ташкент</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Самарканд</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Хива</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Анджиан</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <div class="page-aside__mobile">
                        <span>Развернуть</span>
                        <span>Свернуть</span>
                    </div>
                </div><!-- /.page-flex__aside -->

                <div class="page-flex__main page-main">
                    <div class="page-main__block">
                        <div class="page-main__left">
                            <h2 class="page-main__title">Туры в Бухару</h2>
                        </div>
                        <div class="page-main__right">
                            <p class="page-main__text">
                                Понадобится по крайней мере два дня, чтобы осмотреть город. Постарайтесь выделить 
                                побольше времени и не упустить главное.
                            </p>
                        </div>
                    </div><!-- /.page-main__block -->

                    <div class="tours">
                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <a href="#" class="tour__logo">
                                <picture>
                                    <source srcset='img/base/tour-1@1x.webp 1x,
                                                    img/base/tour-1@2x.webp 2x'
                                        type='image/webp'>
                                    <img src='img/base/tour-1@1x.jpg'
                                        srcset='img/base/tour-1@1x.jpg 1x,
                                                img/base/tour-1@2x.jpg 2x'
                                        width='394'
                                        height='361'
                                        alt='Adras Travel'
                                        title='Adras Travel'>
                                </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>Лучшее Узбекистана</h3></a>
                                    <div class="tour__places">Ташкент, Хива, Бухара, Гиждуван, Самарканд, Шахрисабз</div>
                                </div>
                                <p class="tour__text">
                                    Посвятите два дня знакомству со Священной Бухарой — городом, возраст которого уже 
                                    перевалил за 2000-летнюю отметку. На экскурсии по Бухаре вы увидите главные 
                                    символы города, такие как: крепость Арк.
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$1299</div>
                                        <div class="tour__duration">10 дней / 9 ночей</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <a href="#" class="tour__logo">
                                <picture>
                                    <source srcset='img/base/tour-2@1x.webp 1x,
                                                    img/base/tour-2@2x.webp 2x'
                                        type='image/webp'>
                                    <img src='img/base/tour-2@1x.jpg'
                                        srcset='img/base/tour-2@1x.jpg 1x,
                                                img/base/tour-2@2x.jpg 2x'
                                        width='394'
                                        height='361'
                                        alt='Adras Travel'
                                        title='Adras Travel'>
                                </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>Экскурсия по Бухаре</h3></a>
                                    <div class="tour__places">Комплекс Ляби-Хауз, мечеть Магоки-Аттори</div>
                                </div>
                                <p class="tour__text">
                                    Экскурсия по историческому центру Бухары начнется у живописного водоема Ляби-Хауз и 
                                    на несколько часов перенесет вас в мир средневекового Востока. Вы увидите самые 
                                    знаменитые мечети и медресе Священного города.
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$399</div>
                                        <div class="tour__duration">3 дня / 2 ночи</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <a href="#" class="tour__logo">
                                <picture>
                                    <source srcset='img/base/tour-3@1x.webp 1x,
                                                    img/base/tour-3@2x.webp 2x'
                                        type='image/webp'>
                                    <img src='img/base/tour-3@1x.jpg'
                                        srcset='img/base/tour-3@1x.jpg 1x,
                                                img/base/tour-3@2x.jpg 2x'
                                        width='394'
                                        height='361'
                                        alt='Adras Travel'
                                        title='Adras Travel'>
                                </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>Ночная Бухара</h3></a>
                                    <div class="tour__places">Ташкент — Бухара — Ташкент</div>
                                </div>
                                <p class="tour__text">
                                    Ночной тур по Бухаре (из Ташкента) — это путешествиев Священный город с многовековой 
                                    историей. Вас ожидает прогулка по историческому центру, где можно всецело окунуться в 
                                    мир средневекового Востока. 
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$299</div>
                                        <div class="tour__duration">1 ночь</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <a href="#" class="tour__logo">
                                <picture>
                                    <source srcset='img/base/tour-4@1x.webp 1x,
                                                    img/base/tour-4@2x.webp 2x'
                                        type='image/webp'>
                                    <img src='img/base/tour-4@1x.jpg'
                                        srcset='img/base/tour-4@1x.jpg 1x,
                                                img/base/tour-4@2x.jpg 2x'
                                        width='394'
                                        height='361'
                                        alt='Adras Travel'
                                        title='Adras Travel'>
                                </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>Тур в Бухару и Самарканд</h3></a>
                                    <div class="tour__places">Ташкент — Самарканд — Бухара — Бухара — Ташкент</div>
                                </div>
                                <p class="tour__text">
                                    Культурный двухдневный тур в Бухару и Самарканд, в ходе которого вы увидите 
                                    исторические и архитектурные памятники Бухары и Самарканда, идеальный вариант 
                                    для первого знакомства с Узбекистаном.
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$599</div>
                                        <div class="tour__duration">2 дня / 1 ночь</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <a href="#" class="button tours__button button--shadow" title="Показать ещё">Показать ещё</a>
                    </div><!-- /.tours -->
                </div><!-- /.page-flex__main -->
            </div>
        </div>
    </section><!-- / .section -->

    <section class="section section--bg--gray">
        <div class="section__flex">
            <div class="section__block section__block--dark">
                <picture class='section__bg'>
                    <source srcset='img/base/build-3@1x.webp 1x,
                                    img/base/build-3@2x.webp 2x'
                        type='image/webp'>
                    <img src='img/base/build-3@1x.jpg'
                        srcset='img/base/build-3@1x.jpg 1x,
                                img/base/build-3@2x.jpg 2x'
                        width='960'
                        height='1080'
                        alt='Adras Travel'
                        title='Adras Travel'>
                </picture>

                <div class="section__container">
                    <h2 class="section__title">
                        Бронирование туров<br> по центральной Азии
                    </h2>
                    <p class="section__text">
                        Свяжитесь с нами уже сегодня: отправьте нам сообщение по электронной почте или воспользуйтесь 
                        нашей контактной формой. В том случае, если вы не нашли подходящее путешествие, сообщите нам 
                        свою идею о туре в Узбекистан. Мы с удовольствием составим ваше путешествие с учетом пожеланий.
                    </p>
                </div>
            </div>

            <div class="section__block">
                <%=_.template(require('../parts/contacts-form.html'))() %>
            </div>
        </div>
    </section><!-- / .section -->

    <section class="section section--bg--gray advantages">
        <div class="container">
            <div class="advantages__header page-flex">
                <div class="page-flex__left">
                    <h2>Почему нас выбирают для&nbsp;путешествий?</h2>
                </div>
                <div class="page-flex__right">
                    <p class="text24">
                        «Адрас Трэвел» — туроператор с многолетним опытом работы. Мы специализируемся на турах в 
                        Центральную Азию. Благодаря нашей обширной сети и знаниям, мы поможем сделать вашу поездку 
                        незабываемой.
                    </p>
                </div>
            </div>

            <div class="advantages__list">
                <div class="advantages__item advantage">
                    <h4 class="advantage__title">Персональные туры</h4>
                    <p class="advantage__text">
                        Поможем составить индивидуальный план путешествия в любом направлении. Подберём 
                        оптимальный маршрут в рамках вашего тура.
                    </p>
                </div>
                <div class="advantages__item advantage">
                    <h4 class="advantage__title">Комбинирование туров</h4>
                    <p class="advantage__text">
                        Наши туры можно комбинировать или расширять дополнительными поездками в соседние 
                        направления. 
                    </p>
                </div>
                <div class="advantages__item advantage">
                    <h4 class="advantage__title">Компетентные гиды</h4>
                    <p class="advantage__text">
                        С нами работают опытные и надёжные гиды. Экскурсии могут быть предложены как на 
                        русском, так и на иностранных языках.
                    </p>
                </div>
                <div class="advantages__item advantage">
                    <h4 class="advantage__title">Визовая поддержка</h4>
                    <p class="advantage__text">
                        Консультируем наших клиентов по вопросам оформления и подачи документов в 
                        миграционные службы.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- / .section -->
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-form.html'))({
    isGray: false
}) %>

<%=_.template(require('../parts/main-footer.html'))() %>