<%=_.template(require('../parts/main-header.html'))({
    title: "Походные туры | Adras Travel",
    isWhite: true,
    menu: {tours_types: "current-menu-item"}
}) %>

<main class="site-main">
    <section class="page-header">
        <div class="container page-flex">
            <div class="page-flex__left">
                <div class="breadcrumbs">
                    <span><a href="#">Типы туров</a></span>
                    <span>/</span>
                    <span>Походные туры</span>
                </div>
                <h1 class="page-header__title">Все туры Узбекистана</h1>
            </div>
            <div class="page-flex__right">
                <p class="page-header__text">
                    Пешеходные походы хороши тем, что практически<br> не ограничивают участников в выборе 
                    направлений путешествий. Практически в любой стране, на любом континенте вы найдете 
                    активные туры, включающие<br> в себя пешеходную часть маршрута.
                </p>
            </div>
        </div>
    </section><!-- /.page-header -->

    <section class="section section--bg--gray section--sticky">
        <div class="container container--wide">
            <div class="page-flex">
                <div class="page-flex__aside page-aside">
                    <ul class="page-aside__list">
                        <li class="current-menu-item">
                            <a href="#" class="page-aside__link">
                                <h5>Походные</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Групповые</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Городские</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Короткие</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Семейные</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page-aside__link">
                                <h5>Персональные</h5>
                                <svg width='27' height='27'>
                                    <use xlink:href='#icon-arrow-link'></use>
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <div class="page-aside__mobile">
                        <span>Развернуть</span>
                        <span>Свернуть</span>
                    </div>
                </div><!-- /.page-flex__aside -->

                <div class="page-flex__main page-main">
                    <div class="tours tours--white">
                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <div class="tour__country">Кыргызстан</div>
                            <a href="#" class="tour__logo">
                                <picture>
                                <source srcset='img/base/tour-5@1x.webp 1x,
                                                img/base/tour-5@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/tour-5@1x.jpg'
                                    srcset='img/base/tour-5@1x.jpg 1x,
                                            img/base/tour-5@2x.jpg 2x'
                                    width='394'
                                    height='361'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>По горам Кыргызыстана</h3></a>
                                    <div class="tour__places">Бишкек — Сон-Куль — Кочкор — Тамга — Джети-Огуз — Каракол — Каркара — Чолпон-Ата</div>
                                </div>
                                <p class="tour__text">
                                    Необычный 10-дневный тур в Кыргызстан, где вы сможете увидеть все туристические 
                                    особенности этой страны: экскурсии в городах, поездки через высокогорные перевалы, 
                                    ночевки в юртах и пляжный отдых на берегу Иссык-Куля.
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$1299</div>
                                        <div class="tour__duration">4 дня / 3 ночи</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <div class="tour__country">Казахстан</div>
                            <a href="#" class="tour__logo">
                                <picture>
                                <source srcset='img/base/tour-2@1x.webp 1x,
                                                img/base/tour-2@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/tour-2@1x.jpg'
                                    srcset='img/base/tour-2@1x.jpg 1x,
                                            img/base/tour-2@2x.jpg 2x'
                                    width='394'
                                    height='361'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>Степи Казахстана</h3></a>
                                    <div class="tour__places">Актау — Озеро Кошкар-Ата — Баянды — Актау</div>
                                </div>
                                <p class="tour__text">
                                    Тур по окрестностям города Актау — это бескрайние солончаки на месте высохших озер, останцы 
                                    и чинки в степи, поражающие воображение пейзажи урочища Бозжира. Степь и ее обитатели: 
                                    дикие верблюды, тушканчики, черепахи, разные виды ящериц.
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$1999</div>
                                        <div class="tour__duration">8 дней / 7 ночей</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <div class="tour__country">Туркменистан</div>
                            <a href="#" class="tour__logo">
                                <picture>
                                <source srcset='img/base/tour-3@1x.webp 1x,
                                                img/base/tour-3@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/tour-3@1x.jpg'
                                    srcset='img/base/tour-3@1x.jpg 1x,
                                            img/base/tour-3@2x.jpg 2x'
                                    width='394'
                                    height='361'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>Дарваза Гас Кратер</h3></a>
                                    <div class="tour__places">Ашгабад — кишлак Ербент — Дарвазинский грязевой кратер — Бирюзовое озеро — газовый кратер Дарваза — Ашгабад</div>
                                </div>
                                <p class="tour__text">
                                    Газовый кратер Дарваза — ощущение покоя и первозданности: здесь нет платных парковок, 
                                    пешеходных дорожек, заборов и ларьков, торгующих сувенирной продукцией. Вокруг лишь 
                                    пустыня, а на много километров нет ни души.
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$1199</div>
                                        <div class="tour__duration">5 дней / 4 ночи</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <div class="tours__item tour">
                            <a href="#" class="tour__link"></a>
                            <div class="tour__country">Таджикистан</div>
                            <a href="#" class="tour__logo">
                                <picture>
                                <source srcset='img/base/tour-4@1x.webp 1x,
                                                img/base/tour-4@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/tour-4@1x.jpg'
                                    srcset='img/base/tour-4@1x.jpg 1x,
                                            img/base/tour-4@2x.jpg 2x'
                                    width='394'
                                    height='361'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            </a>
                            <div class="tour__content">
                                <div class="tour__top">
                                    <div class="tour__type">Походный тур</div>
                                    <a href="#" class="tour__title"><h3>По древним городам</h3></a>
                                    <div class="tour__places">Истаравшан — Пенджикент — Худжанд — Бохтар — Канибадам — Исфара — Душанбе</div>
                                </div>
                                <p class="tour__text">
                                    Таджикистан — это древние города, которым более 2500 лет, а также сохранившиеся на их 
                                    территории уникальные памятники старины, образцы древней архитектуры. Крепости, храмы, 
                                    мечети по-прежнему хранят печать давно ушедших времен.
                                </p>
                                <div class="tour__bottom">
                                    <div class="tour__info">
                                        <div class="tour__price">$999</div>
                                        <div class="tour__duration">3 дня / 2 ночи</div>
                                    </div>
                                    <a href="#" class="tour__arrow">
                                        <svg width='22' height='16'>
                                            <use xlink:href='#icon-tour-arrow'></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.tour -->

                        <a href="#" class="button tours__button button--shadow" title="Показать ещё">Показать ещё</a>
                    </div><!-- /.tours -->
                </div><!-- /.page-flex__main -->
            </div>
        </div>
    </section><!-- / .section -->

    <section class="section">
        <div class="section__header">
            <div class="section__flex">
                <div class="section__block">
                    <div class="section__container">
                        <h2 class="section__title">Туры для активных путешественников</h2>
                        <p class="section__text">
                            Мы разработали походные маршруты с различными уровнями сложности, чтобы 
                            попробовать мог каждый желающий. Походные туры — это не только колоссальный 
                            объём эмоций, но и здоровый, активный образ жизни!
                        </p>
                    </div>
                </div>

                <div class="section__block">
                    <picture class='section__logo'>
                        <source srcset='img/base/landscape-1@1x.webp 1x,
                                        img/base/landscape-1@2x.webp 2x'
                            type='image/webp'>
                        <img src='img/base/landscape-1@1x.jpg'
                            srcset='img/base/landscape-1@1x.jpg 1x,
                                    img/base/landscape-1@2x.jpg 2x'
                            width='940'
                            height='589'
                            alt='Adras Travel'
                            title='Adras Travel'>
                    </picture>
                </div>
            </div>
        </div><!-- /.section__header -->
        
        <div class="section__footer section__footer--black">
            <div class="section__flex">
                <div class="section__block">
                    <div class="section__container">
                        <h2 class="section__title">Определите ваш уровень подготовки для тура</h2>
                    </div>
                </div>

                <div class="section__block">
                    <div class="section__container">
                        <p class="section__text">
                            Каждый пеший поход имеет собственный уровень сложности. В спортивном туризме трекинг 
                            классифицируются по 9-ти уровням сложности. Отнесение маршрута к той или иной категории 
                            сложности зависит от наличия локальных препятствий, географических особенностей, 
                            напряженности маршрута, его протяженности и продолжительности по времени.
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.section__footer -->
    </section><!-- / .section -->

    <section class="section section--bg--gray articles">
        <div class="articles__container container">
            <div class="articles__header page-flex">
                <div class="page-flex__left">
                    <h2>Узнайте больше о&nbsp;Центральной&nbsp;Азии</h2>
                </div>
                <div class="page-flex__right">
                    <p class="text24">
                        Каждую неделю мы пишем полезные и интересные статьи<br> о путешествиях, 
                        рассказываем о традициях и культуре народов стран Центральной Азии. 
                    </p>
                </div>
            </div><!-- /.articles__header -->

            <div class="articles__main">
                <div class="articles-slider js-slider" id="articles-slider-2">
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-8@1x.webp 1x,
                                                img/base/slider-8@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-8@1x.jpg'
                                    srcset='img/base/slider-8@1x.jpg 1x,
                                            img/base/slider-8@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Гастрономический блог</div>
                                <h3 class="articles-slide__title">Гастрономия Казахстана</h3>
                                <div class="articles-slide__text">Где попробовать традиционные блюда Казахской кухни.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-9@1x.webp 1x,
                                                img/base/slider-9@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-9@1x.jpg'
                                    srcset='img/base/slider-9@1x.jpg 1x,
                                            img/base/slider-9@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Город из белого мрамора</h3>
                                <div class="articles-slide__text">Посмотрите на самый беломраморный город в мире</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-10@1x.webp 1x,
                                                img/base/slider-10@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-10@1x.jpg'
                                    srcset='img/base/slider-10@1x.jpg 1x,
                                            img/base/slider-10@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">10 мест в&nbsp;узбекистане</h3>
                                <div class="articles-slide__text">Что посмотреть в Узбекистане за&nbsp;5&nbsp;дней, неделю, месяц.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-11@1x.webp 1x,
                                                img/base/slider-11@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-11@1x.jpg'
                                    srcset='img/base/slider-11@1x.jpg 1x,
                                            img/base/slider-11@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Лучшие места для съемок</h3>
                                <div class="articles-slide__text">Топ-10 мест для красивых селфи и&nbsp;панорамных фотографий.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                    
                    <div class="swiper-slide articles-slider__slide articles-slide">
                        <a href="#" class="articles-slide__card">
                            <picture class='articles-slide__bg'>
                                <source srcset='img/base/slider-4@1x.webp 1x,
                                                img/base/slider-4@2x.webp 2x'
                                    type='image/webp'>
                                <img src='img/base/slider-4@1x.jpg'
                                    srcset='img/base/slider-4@1x.jpg 1x,
                                            img/base/slider-4@2x.jpg 2x'
                                    width='287'
                                    height='448'
                                    alt='Adras Travel'
                                    title='Adras Travel'>
                            </picture>
                            <div class="articles-slide__content">
                                <div class="articles-slide__type">Блог о путешествиях</div>
                                <h3 class="articles-slide__title">Великий шелковый путь</h3>
                                <div class="articles-slide__text">Караванная дорога из Китая в&nbsp;страны Азии длиной в 7000 км.</div>
                            </div>
                        </a>
                        <a href="#" class="button button--opacity articles-slide__button">
                            Читать
                            <svg width="16" height="16">
                                <use xlink:href="#icon-arrow-button"></use>
                            </svg>
                        </a>
                    </div>
                </div><!-- /.articles-slider -->
                
                <a href="#" class="button articles__button" title="Больше статей">Больше статей</a>
            </div><!-- /.articles__main -->
        </div>
    </section><!-- / .articles -->
    
</main><!-- / .site-main -->

<%=_.template(require('../parts/main-form.html'))({
    isGray: false
}) %>

<%=_.template(require('../parts/main-footer.html'))() %>